body {
    counter-reset: estrofa section;
    background-color: rgb(88, 213, 88);
}

h1 {
    color: rgb(73, 40, 0);
}

h2 {
    color: black;
}

h3::before {
    counter-increment: estrofa;
    content: "Estrofa " counter(estrofa);
    color: rgb(5, 0, 49);
}

p::before {
    counter-increment: section;
    content: "Verso " counter(section) ": ";
    
}

p {
    color: blue;
}

span {
    color:blue;
    background-color: yellow;
    font-size: bold;
}