.botones {
    font-size: 20px;
}

.fondobotones {
    display: inline-block;
    width: 100px;
    height: 4vh;
    background-color: blanchedalmond;
    margin: 5px;
    padding-top: 2px;
    border-width: 0px 2px 2px 0px;
    border-color: gainsboro;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px gray;
}

:root {
    color: rgb(21, 32, 64);
    background-image: url("./conciertoMelendi.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#indice {
    opacity: 70%;
    background-color: aliceblue;
    position: absolute;
    top: 10%;
    left: 10%;
    margin: auto;
    padding: 19%;
    width: 90vh;
    height: 20vh;
}

#contenido {
    text-align: center;
    border-radius: 5px;
}

#titulo, h1 {
    position: absolute;
    top: 5%;
    left: 22%;
    text-align: center;
    border-radius: 5px;
    padding: 1%;
}

a {
    font-size: 20px;
    margin: 3% 0% 3%;
}

#unJuego:hover, #masInfo:hover {
    color: red;
}

nav {
    position: fixed;
    top: 5;
    left: 0;
}

#contenidoInicio {
    width: 150vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 15%;
    top: 50%;
    text-align: center;
}

#logo {
    position: absolute;
    top: 8%;
    left: 41%;
    width: 40vh;
    height: auto;
}

#fotoNoticia {
    width: 50vh;
    height: auto;
}

picture {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}