.botones {
    font-size: 20px;
}

.fondobotones {
    display: inline-block;
    width: 120px;
    height: 4vh;
    background-color: blanchedalmond;
    margin: 5px;
    padding-top: 2px;
    border-width: 0px 2px 2px 0px;
    border-color: gainsboro;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px gray;
}

:root {
    color: rgb(21, 32, 64);
    background-image: url("./conciertoMelendi.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#indice {
    opacity: 70%;
    background-color: aliceblue;
    position: absolute;
    top: 10%;
    left: 10%;
    margin: auto;
    padding: 19%;
    width: 90vh;
    height: 20vh;
}

#contenido {
    text-align: center;
    border-radius: 5px;
}

#titulo, h1 {
    position: absolute;
    top: 5%;
    left: 22%;
    text-align: center;
    border-radius: 5px;
    padding: 1%;
}

a {
    font-size: 20px;
    margin: 3% 0% 3%;
}

#unJuego:hover, #masInfo:hover {
    color: red;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
}

#contenidoInicio {
    width: 150vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 15%;
    top: 50%;
    text-align: center;
}

#logo {
    position: absolute;
    top: 8%;
    left: 41%;
    width: 40vh;
    height: auto;
}

#fotoNoticia {
    width: 50vh;
    height: auto;
}

picture {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.modal {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.63);
	opacity:0;
	pointer-events: none;
    height: 111vh;
}
.modal:target {
	opacity:1;
	pointer-events: auto;
}

#contenido {
    text-align: center;
    width: 400px;
	position: relative;
	margin: 20% auto;
	padding: 5px 20px 13px 20px;
	background: orange;
}

.cerrado {
	background: #414141;
    font-weight: bold;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
    margin-left: 47.5%;
    margin-top: -3%;
	text-align: center;
	width: 24px;
    border-radius: 12px;
	text-decoration: none;
}
.cerrado:hover { 
    background: rgb(255, 57, 57); 
}

iframe {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 150vh;
    height: 85vh;
}

#usuario {
    position: fixed;
    top: 0;
    right: 0;
}